*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: uppercase;
}
.errs{
    width: 100%;
    padding: 20px 0px 20px 0px;
    background-color: #1a2037;
    color: #3a97d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.formdiv{
    width: 90%;
    height: 300px;
    margin: 0px auto;
    box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    input{
        width: 150%;
        height: 30px;
        text-align: center;
        font-size: 20px;
        color: #ef374e;
        margin-top: 20px;

    }
    button{
        width: 150px;
        height: 30px;
        border-radius: 5px;
        margin-top: 20px;
        background-color: #1c234a;
        color: #1bfaad;
        transition: color .3s ease-in-out;
        transition: background-color .3s ease-in-out;
        &:hover{
            background-color: #e8effc;
            color: #624ce0;
        }
    }
  }
}